In [20]:
import pandas as pd
import numpy as np
import networkx as nx
from tqdm import tqdm
import matplotlib.pyplot as plt

In [5]:
train = pd.read_csv("train.csv")

In [17]:
# drop all edges which CN = 0
cond = train[train['CN'] == 0].index
nonCN = train.drop(index=cond, inplace=False)
nonCN

,Pair,Source,Sink,NCA,Exist,CN,AA,RA,JC,PA,KI,PR_s1,PR_s2
0,"(0, 356)",0,356,14,1,7,2.899858,0.628968,0.700000,72,0.079962,0.000220,0.000240
1,"(0, 1236)",0,1236,14,1,6,2.471649,0.531746,0.428571,96,0.075137,0.000220,0.000302
2,"(356, 1236)",356,1236,14,1,7,2.812086,0.587302,0.500000,108,0.074232,0.000240,0.000302
3,"(0, 1655)",0,1655,9,1,7,2.976054,0.668651,0.466667,112,0.083302,0.000220,0.000376
4,"(0, 1797)",0,1797,4,1,7,2.899858,0.628968,0.700000,72,0.081045,0.000220,0.000245
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7092833,"(4058, 4067)",4058,4067,0,0,2,0.679937,0.106667,0.166667,24,0.005834,0.000287,0.000082
7093027,"(4066, 4090)",4066,4090,0,0,1,0.279055,0.027778,0.090909,36,0.000933,0.000153,0.000201
7093061,"(4068, 4083)",4068,4083,0,0,1,0.251871,0.018868,0.055556,48,0.018735,0.000378,0.000103
7093088,"(4069, 4091)",4069,4091,0,0,1,0.215313,0.009615,0.026316,224,-0.104119,0.000615,0.000176
7093112,"(4071, 4080)",4071,4080,0,0,2,0.586992,0.066449,0.047619,468,0.031735,0.000572,0.000459

In [19]:
# create a graph for nonCN
nodeL = np.union1d(nonCN['Source'].values, nonCN['Sink'].values)
len(nodeL)

3590

In [22]:
# create graph
G = nx.from_pandas_edgelist(nonCN, "Source", "Sink", create_using=nx.Graph())

In [23]:
cnL = []
for u,v in tqdm(nonCN.Pair):
    cn = sorted(nx.common_neighbors(G,u,v))
    cnL.append(((u,v), list(cn)))
cnDF = pd.DataFrame(cnL, columns=["Pair", "Source", "Sink", "NCA", "cn_list"])

  0%|          | 0/207353 [00:00<?, ?it/s]

ValueError: too many values to unpack (expected 2)